<!DOCTYPE html>
<html>

<head>
    <title>Bookime - Home</title>
    <link rel="stylesheet" type="text/css" href="../assets/dist/css/style.min.css">
    <script src="./components/header.js" type="text/javascript" defer></script>
    <script src="./components/footer.js" type="text/javascript" defer></script>
</head>

<body>

    <header-component></header-component>

    <div class="bookime__content">
        <div class="bookime__content__animeList">
            <div class="bookime__content__animeList__loop">
                <div class="bookime__content__animeList__loop--item">
                    <div class="list-item">
                        <div class="overlay">
                            <span class="badge">TV</span>
                            <span class="rating">8.8/10</span>
                        </div>
                        <div class="img_container">
                            <img src="https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256" alt="">
                        </div>
                    </div>
                    <div class="list-title">
                        <p>Cowboy bebop (1998)</p>
                    </div>
                </div>
                <div class="bookime__content__animeList__loop--item">
                    <div class="list-item">
                        <div class="overlay">
                            <span class="badge">TV</span>
                            <span class="rating">8.8/10</span>
                        </div>
                        <div class="img_container">
                            <img src="https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256" alt="">
                        </div>
                    </div>
                    <div class="list-title">
                        <p>Cowboy bebop (1998)</p>
                    </div>
                </div>
                <div class="bookime__content__animeList__loop--item">
                    <div class="list-item">
                        <div class="overlay">
                            <span class="badge">TV</span>
                            <span class="rating">8.8/10</span>
                        </div>
                        <div class="img_container">
                            <img src="https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256" alt="">
                        </div>
                    </div>
                    <div class="list-title">
                        <p>Cowboy bebop (1998)</p>
                    </div>
                </div>
                <div class="bookime__content__animeList__loop--item">
                    <div class="list-item">
                        <div class="overlay">
                            <span class="badge">TV</span>
                            <span class="rating">8.8/10</span>
                        </div>
                        <div class="img_container">
                            <img src="https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256" alt="">
                        </div>
                    </div>
                    <div class="list-title">
                        <p>Cowboy bebop (1998)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer-component></footer-component>

</body>

</html>