<div class="ab-login__title">LOGIN</div>

<div class="ab-login__row">
 	<input type="text" name="name" id="name" class="ab-login__row__input">
 	<label for="name" class="ab-login__row__label">Username</label>
</div>

<div class="ab-login__row">
 	<input type="password" name="password" id="password" class="ab-login__row__input">
 	<label for="password" class="ab-login__row__label">Password</label>
</div>

<div class="ab-login__row ab-login__row--border">
	<div class="ab-btn">
		<span class="ab-btn__text">GO</span>
	</div>
</div>