@font-face {
  font-family: 'manga';
  src: url('../fonts/manga.ttf')  format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

//scrollbar
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: var(--theme); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(205,212,226,.5); 
    transition: all 0.3s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(205,212,226,.7); 
  }