@font-face {
  font-family: 'manga';
  src: url('../fonts/manga.ttf')  format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

//scrollbar
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: var(--theme); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(212, 212, 212, 0.5); 
    transition: all 0.3s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(176, 182, 192, 0.7); 
  }

  .badge{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: $white;
    color: $primary;
    margin: 0 1em;
}

@for $i from 1 to 6 {
  .px-#{$i}{
    padding-left: #{$i}rem !important;
    padding-right: #{$i}rem !important;
  }
  .py-#{$i}{
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }
  .pl-#{$i}{
    padding-left: #{$i}rem !important;
  }
  .pr-#{$i}{
    padding-right: #{$i}rem !important;
  }
  .pt-#{$i}{
    padding-top: #{$i}rem !important;
  }
  .pb-#{$i}{
    padding-bottom: #{$i}rem !important;
  }

  .mx-#{$i}{
    margin-left: #{$i}rem !important;
    margin-right: #{$i}rem !important;
  }
  .my-#{$i}{
    margin-top: #{$i}rem !important;
    margin-bottom: #{$i}rem !important;
  }
  .ml-#{$i}{
    margin-left: #{$i}rem !important;
  }
  .mr-#{$i}{
    margin-right: #{$i}rem !important;
  }
  .mt-#{$i}{
    margin-top: #{$i}rem !important;
  }
  .mb-#{$i}{
    margin-bottom: #{$i}rem !important;
  }
}