//Colors
$primary: #EF4470;
$white: #fff;
$theme: #373737;

//Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

//Font Families
$manga: "manga", sans-serif;

:root{
    --theme: #373737;
}

.dark{
	--theme: #373737;
}

.light{
	--theme: #FFF;
}