//Colors
$primary: #EF4470;
$white: #fff;

//Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

//Font Families
$anime-ace: "anime-ace", sans-serif;