//Colors
$primary: #EF4470;
$white: #fff;
$theme: #373737;
$primary-dark:mix($primary, #000, 85%);
$primary-light:mix($primary, #FFF, 65%);

//Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

//Font Families
$manga: "manga", sans-serif;

:root{
    --theme: #FFF;
	--text: #000;
	--hover: rgb(240, 240, 240);
}

.dark{
	--theme: #373737;
	--text: #fff;
	--hover: #585858;
}

@media (prefers-color-sheme: dark) {
	:root{
		--theme: #373737;
		--text: #fff;
		--hover: #585858;
	}
}
