.ab-login {
	padding: 0 50px;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);

	&__title {
		width: 100%;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $primary;
    position: relative;

	  &:before {
			content: '';
			position: absolute;
			top: 0;
			left: -50px;
			width: 5px;
			height: 100%;
			background-color: $primary;
		}
	}

	&__row {
		margin-top: 30px;
  	height: 70px;
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;

  	&:before {
	    content: "";
	    background: rgba(0, 0, 0, 0.1);
	    z-index: 3;
	    width: 100%;
	    height: 1px;
	    position: absolute;
	    bottom: 0;
	    left: 0;
  	}

  	&--border:before {
  		background: none;
  	}

  	&__label {
  		position: absolute;
	    top: 10px;
	    left: 0;
	    z-index: 2;
	    cursor: pointer;
	    line-height: 60px;
	    font-size: 24px;
	    color: rgba(0, 0, 0, 0.8);
	    font-weight: 300;
	    transition: all 0.3s ease;
  	}

  	&__input {
  		position: relative;
  		height: 60px;
	    top: 10px;
	    border: none;
	    background: transparent;
	    font-size: 24px;
	    color: rgba(0, 0, 0, 0.8);
	    font-weight: 300;

	    &:focus ~ .ab-login__row__label {
	    	line-height: 18px;
	    	font-size: 18px;
	    	font-weight: 100;
	    	top: 0;
	    }
  	}
	}
}